<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>FashionKart</display-name>

    <!-- Servlets -->
    <servlet>
        <servlet-name>BrandLandingServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/brand-landing-page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSalesInfoServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin-sales-info.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSellerBYEMAILInfoServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin-seller-info.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSellerInfoServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin-sellers-info.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminUserOrderServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin-user-orders.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin-dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/account.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/wishlist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserOrderServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/user-order.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/checkout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserCartServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/cart.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/add-category.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/add-discount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/add-product.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EnterEmailServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/enter-email.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/user-login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginBrandServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/login-brand.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ManageProductsServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/manage-products.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RecoverPasswordServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/recover-password.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterSellerServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/register-seller.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterBrandServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/registerBrand.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/reset-password.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SalesAnalyticsServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/sales-analytics.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SellerDashboardServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/seller-dashboard.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SellerLoginServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/seller-login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscountsServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/manage-discount.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserDetailsServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/user-details.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/verify-otp.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <jsp-file>/WEB-INF/jsp/product-details.jsp</jsp-file>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>BrandLandingServlet</servlet-name>
        <url-pattern>/welcome/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSalesInfoServlet</servlet-name>
        <url-pattern>/admin/sales/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSellerBYEMAILInfoServlet</servlet-name>
        <url-pattern>/admin/seller/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSellerInfoServlet</servlet-name>
        <url-pattern>/admin/sellers/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserOrderServlet</servlet-name>
        <url-pattern>/admin/user/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/user/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/user/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderServlet</servlet-name>
        <url-pattern>/user/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/user/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCartServlet</servlet-name>
        <url-pattern>/user/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterEmailServlet</servlet-name>
        <url-pattern>/auth/user/register/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/auth/user/register/verify-otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailsServlet</servlet-name>
        <url-pattern>/auth/user/register/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBrandServlet</servlet-name>
        <url-pattern>/auth/brand/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterBrandServlet</servlet-name>
        <url-pattern>/auth/brand/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverPasswordServlet</servlet-name>
        <url-pattern>/auth/forgot-password/recover-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/auth/forgot-password/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSellerServlet</servlet-name>
        <url-pattern>/auth/sellers/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerLoginServlet</servlet-name>
        <url-pattern>/auth/sellers/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/product/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/sellers/add/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountServlet</servlet-name>
        <url-pattern>/sellers/add/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/sellers/add/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductsServlet</servlet-name>
        <url-pattern>/sellers/manage/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscountsServlet</servlet-name>
        <url-pattern>/sellers/manage/discounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesAnalyticsServlet</servlet-name>
        <url-pattern>/sellers/sales/analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDashboardServlet</servlet-name>
        <url-pattern>/sellers/dashboard</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/jsp/error400.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/jsp/error401.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>

</web-app>
